.service_part{
   cursor: pointer;
   padding:  10px 10px;
   height: 300px;
   transition: .7s;
   margin-bottom: 14px;
}
.service_part img{
   width: 100px;
}
.service_part:hover{
   transform: scale(1.07);
   transition: .5s;
   box-shadow: 10px 10px 30px #c4c4c4;
}