.image{
   height: 300px;
   width: 400px;
}
@media only screen and (min-width:442px) and (max-width:582px){
   .image{
       width:98%;
       height:180px;
   }
}
@media only screen and (min-width:583px) and (max-width:1000px){
   .image{
       width:90%;
       height:180px;
   }
}
